ul
{
    list-style: none;
    margin: -10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #345CFD;
    position: sticky;
}
li a
{
    float: left;
    margin-left: 10px;
    padding: 10px;
    color: #000;
    text-decoration: none;
}
footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #345CFD;
    text-align: center;
    padding: 20px;
    color: white;
    
}
ul li a
{
    color: white;
}
ul li a:hover
{
    background-color: rgb(9, 1, 80);
    width: auto;
    height: auto;
}
#Logo a:hover
{
    background-color: transparent;
}
img
{
    height: 100px;
    width: auto;
}
body
{
    background-color: #000000;
}
header
{
    color: white;
    text-align: center;
    background-color: #071441;
    height: 50px;
    padding: 20px;
    margin: -10px;
}
header a
{
    color: white;
    text-decoration: none;
    
}
/*background-image: linear-gradient(to right, #345CFD,#DBDEE7,#0B6D50,#FF87B7);*/

.card {
  float: left;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: left;
  font-family: arial;
  color: white;
  background-color: transparent;
  border: black solid;
  border-radius: 20px;
}

.price {
  color: rgb(255, 255, 255);
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
button
{
    border-radius: 900px;
}
button a
{
    text-decoration: none;
    color: white;
}